<table border="1">
    <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Due Date</th>
        <th>Status</th>
    </tr>
    <% for(let i=0;i<allTodos.length; i++) { %>
        <tr>
            <td>
                <%= allTodos[i].S_No %>
            </td>
            <td>
                <%= allTodos[i].title %>
            </td>
            <td>
                <%= allTodos[i].dueDate %>
            </td>
            <td>
                <%= allTodos[i].Status %>
            </td>
        </tr>
        <% } %>
</table>